@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 18px;
}

h1 {
  color: white;
  font-size: 5rem;
  font-family: 'Indie Flower', cursive;
}

h3 {
  text-align: center;
  color: grey;
}

b {
  color: red;
}

.buttons {
  display: flex;
  flex-direction: column;
}


.small {
  width: 100%;
  height: 60vh;
  background-image: url('./img/sky.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
}

.big {
  width: 100%;
  height: 100vh;
  background-image: url('./img/sky.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

button {
  height: 3rem;
  width: 15rem;
  background-color: rgb(120, 236, 120);
  border-radius: 5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  border: none;
}

.searchbtn {
  background-color: rgb(120, 236, 120);
}

.showmore {
  background-color: rgb(120, 209, 236);
  margin-bottom: 1rem;
}

select {
  height: 3rem;;
  width: 15rem;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

.loading-spinner {
  width: 100px;
  height: 100px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25vw;
  top: 25vh;
  background-color: white;
  opacity: .9;
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
  border-radius: 5em;
  justify-content: center;
  align-items: center;
}

.flight-item {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: .5em;
}

.flight-prop {
  width: 20%;
  text-align: center;
}

.col-name {
  font-weight: bold;
}